*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#0f172a;
  color:white;
  min-height:100vh;
  display:flex;
  justify-content:center;
  padding:40px 15px;
}

.mainContainer{
  width:100%;
  max-width:750px;
}

h1{
  text-align:center;
}

.subtitle{
  text-align:center;
  margin-top:10px;
  color:#cbd5e1;
  margin-bottom:30px;
}

.cardBox,
.resultBox,
.musicBox{
  background:#1e293b;
  padding:25px;
  border-radius:20px;
  margin-bottom:25px;
}

h2{
  margin-bottom:20px;
}

input{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  background:#334155;
  color:white;
}

button{
  width:100%;
  padding:14px;
  margin-top:20px;
  border:none;
  border-radius:12px;
  background:#38bdf8;
  color:#0f172a;
  cursor:pointer;
  font-size:16px;
  font-weight:bold;
}

#emotionText{
  text-align:center;
  margin-top:15px;
  font-size:45px;
}

ul{
  margin-top:15px;
}

li{
  list-style:none;
  background:#334155;
  padding:14px;
  border-radius:10px;
  margin-bottom:12px;
}
#previewImage{
  width:100%;
  margin-top:20px;
  border-radius:15px;
  display:block;
}
.emotionButtons{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
  margin-top:20px;
}
#emotionDescription{
  text-align:center;
  margin-top:15px;
  font-size:18px;
  line-height:1.5;
}
#moodQuote{
  font-style: italic;
  margin-top: 15px;
  text-align: center;
}