<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

  <title>
    Emotion Music Player
  </title>

  <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

  <div class="mainContainer">

    <h1>
      🎵 Emotion Based Music Player
    </h1>

    <p class="subtitle">
      Detect emotions and recommend music instantly
    </p>

    <div class="cardBox">

      <h2>
        Upload Face Image
      </h2>

     <input type="file" id="imageInput">

  <img id="previewImage"
     src=""
     alt="Preview"
     style="display:none;">

      <button>
        Detect Emotion
      </button>

    </div>

    <div class="resultBox" id="resultBox"></div>

     <div class="cardBox">

  <h2>
    Emotion History
  </h2>
  
<h3 id="emotionCount">
  Total Emotions Tracked : 0
</h3>

  <ul id="historyList">
<button onclick="clearHistory()">
  Clear History
</button>
  </ul>

</div>
      <h2>
        Detected Emotion
      </h2>

      <h1 id="emotionText">
  Select Emotion
</h1>
<p id="emotionDescription">
  Select an emotion to see details.
  <h3 id="moodScore">
  Mood Score : 0/100
</h3>
</p>
<div class="emotionButtons">

  <button onclick="setEmotion('Happy 😊')">
    Happy
  </button>

  <button onclick="setEmotion('Sad 😢')">
    Sad
  </button>

  <button onclick="setEmotion('Angry 😡')">
    Angry
  </button>

  <button onclick="setEmotion('Calm 😌')">
    Calm
  </button>

</div>

    </div>

    <div class="musicBox">

      <div class="cardBox">

  <h2>
    Recently Recommended
  </h2>

  <ul id="recentSongs">

  </ul>

</div>
      <h2>
        Recommended Songs
      </h2>

      <ul id="songList"></ul>

        <li>Perfect - Ed Sheeran</li>
        <li>Blinding Lights - Weeknd</li>
        <li>Night Changes - One Direction</li>

      </ul>

    </div>

    <div class="cardBox">

  <h2>
    Favorite Songs
  </h2>

  <ul id="favoriteSongs">

  </ul>

</div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>